<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Buttons_in_Wonderland-removebg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,380},{37,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,45}}</string>
				<key>sourceSize</key>
				<string>{37,45}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,190},{33,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,25}}</string>
				<key>sourceSize</key>
				<string>{33,25}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,292},{69,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,37}}</string>
				<key>sourceSize</key>
				<string>{69,37}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,472},{35,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,24}}</string>
				<key>sourceSize</key>
				<string>{35,24}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,216},{33,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,45}}</string>
				<key>sourceSize</key>
				<string>{33,45}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,105},{22,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,37}}</string>
				<key>sourceSize</key>
				<string>{22,37}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,547},{71,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,62}}</string>
				<key>sourceSize</key>
				<string>{71,62}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,426},{36,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,45}}</string>
				<key>sourceSize</key>
				<string>{36,45}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,262},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,354},{56,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,25}}</string>
				<key>sourceSize</key>
				<string>{56,25}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1012},{9,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,9}}</string>
				<key>sourceSize</key>
				<string>{9,9}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,638},{87,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,37}}</string>
				<key>sourceSize</key>
				<string>{87,37}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,143},{20,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,26}}</string>
				<key>sourceSize</key>
				<string>{20,26}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,676},{86,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,45}}</string>
				<key>sourceSize</key>
				<string>{86,45}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,613},{88,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,24}}</string>
				<key>sourceSize</key>
				<string>{88,24}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,330},{62,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,23}}</string>
				<key>sourceSize</key>
				<string>{62,23}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,722},{68,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,21}}</string>
				<key>sourceSize</key>
				<string>{68,21}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,547},{204,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,65}}</string>
				<key>sourceSize</key>
				<string>{204,65}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,105},{221,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{221,84}}</string>
				<key>sourceSize</key>
				<string>{221,84}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,690},{203,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,65}}</string>
				<key>sourceSize</key>
				<string>{203,65}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1012},{9,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,10}}</string>
				<key>sourceSize</key>
				<string>{9,10}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,874},{202,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,77}}</string>
				<key>sourceSize</key>
				<string>{202,77}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,756},{202,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,117}}</string>
				<key>sourceSize</key>
				<string>{202,117}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,613},{203,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,76}}</string>
				<key>sourceSize</key>
				<string>{203,76}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,0},{11,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{11,22}}</string>
				<key>sourceSize</key>
				<string>{11,22}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,952},{194,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{194,59}}</string>
				<key>sourceSize</key>
				<string>{194,59}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,104}}</string>
				<key>sourceSize</key>
				<string>{230,104}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,952},{194,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{194,59}}</string>
				<key>sourceSize</key>
				<string>{194,59}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,846},{188,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,90}}</string>
				<key>sourceSize</key>
				<string>{188,90}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,190},{218,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,101}}</string>
				<key>sourceSize</key>
				<string>{218,101}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,756},{189,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,89}}</string>
				<key>sourceSize</key>
				<string>{189,89}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,937},{27,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,14}}</string>
				<key>sourceSize</key>
				<string>{27,14}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,497},{34,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,37}}</string>
				<key>sourceSize</key>
				<string>{34,37}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{20,1012},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,8}}</string>
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,292},{216,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{216,84}}</string>
				<key>sourceSize</key>
				<string>{216,84}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,462},{216,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{216,84}}</string>
				<key>sourceSize</key>
				<string>{216,84}</string>
			</dict>

			<key>Buttons_in_Wonderland-removebg_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,377},{216,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{216,84}}</string>
				<key>sourceSize</key>
				<string>{216,84}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>