<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>50ca5e94517f3dc2cfb9ce980ce428ef-removebg-preview_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,117},{133,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,55}}</string>
				<key>sourceSize</key>
				<string>{133,55}</string>
			</dict>

			<key>50ca5e94517f3dc2cfb9ce980ce428ef-removebg-preview_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,194},{178,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,76}}</string>
				<key>sourceSize</key>
				<string>{178,76}</string>
			</dict>

			<key>50ca5e94517f3dc2cfb9ce980ce428ef-removebg-preview_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,394},{163,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,72}}</string>
				<key>sourceSize</key>
				<string>{163,72}</string>
			</dict>

			<key>50ca5e94517f3dc2cfb9ce980ce428ef-removebg-preview_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,467},{119,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,37}}</string>
				<key>sourceSize</key>
				<string>{119,37}</string>
			</dict>

			<key>50ca5e94517f3dc2cfb9ce980ce428ef-removebg-preview_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,45},{88,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,44}}</string>
				<key>sourceSize</key>
				<string>{88,44}</string>
			</dict>

			<key>50ca5e94517f3dc2cfb9ce980ce428ef-removebg-preview_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,271},{145,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,78}}</string>
				<key>sourceSize</key>
				<string>{145,78}</string>
			</dict>

			<key>50ca5e94517f3dc2cfb9ce980ce428ef-removebg-preview_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,350},{112,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,42}}</string>
				<key>sourceSize</key>
				<string>{112,42}</string>
			</dict>

			<key>50ca5e94517f3dc2cfb9ce980ce428ef-removebg-preview_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{290,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,116}}</string>
				<key>sourceSize</key>
				<string>{290,116}</string>
			</dict>

			<key>50ca5e94517f3dc2cfb9ce980ce428ef-removebg-preview_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,350},{81,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,36}}</string>
				<key>sourceSize</key>
				<string>{81,36}</string>
			</dict>

			<key>50ca5e94517f3dc2cfb9ce980ce428ef-removebg-preview_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,335},{171,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,58}}</string>
				<key>sourceSize</key>
				<string>{171,58}</string>
			</dict>

			<key>50ca5e94517f3dc2cfb9ce980ce428ef-removebg-preview_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,444},{145,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,51}}</string>
				<key>sourceSize</key>
				<string>{145,51}</string>
			</dict>

			<key>50ca5e94517f3dc2cfb9ce980ce428ef-removebg-preview_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,194},{136,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,56}}</string>
				<key>sourceSize</key>
				<string>{136,56}</string>
			</dict>

			<key>50ca5e94517f3dc2cfb9ce980ce428ef-removebg-preview_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,271},{174,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,63}}</string>
				<key>sourceSize</key>
				<string>{174,63}</string>
			</dict>

			<key>50ca5e94517f3dc2cfb9ce980ce428ef-removebg-preview_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,0},{103,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,44}}</string>
				<key>sourceSize</key>
				<string>{103,44}</string>
			</dict>

			<key>50ca5e94517f3dc2cfb9ce980ce428ef-removebg-preview_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,394},{145,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,49}}</string>
				<key>sourceSize</key>
				<string>{145,49}</string>
			</dict>

			<key>50ca5e94517f3dc2cfb9ce980ce428ef-removebg-preview_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,117},{240,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,76}}</string>
				<key>sourceSize</key>
				<string>{240,76}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>