<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>letrero-madera-tropical-conjunto-vector-selva-piedra-marco-banner-juego-ui-dibujos-animados-menu-panel-loro_191217-726-removebg-preview_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,713},{139,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,110}}</string>
				<key>sourceSize</key>
				<string>{139,110}</string>
			</dict>

			<key>letrero-madera-tropical-conjunto-vector-selva-piedra-marco-banner-juego-ui-dibujos-animados-menu-panel-loro_191217-726-removebg-preview_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,824},{92,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,84}}</string>
				<key>sourceSize</key>
				<string>{92,84}</string>
			</dict>

			<key>letrero-madera-tropical-conjunto-vector-selva-piedra-marco-banner-juego-ui-dibujos-animados-menu-panel-loro_191217-726-removebg-preview_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,568},{169,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,144}}</string>
				<key>sourceSize</key>
				<string>{169,144}</string>
			</dict>

			<key>letrero-madera-tropical-conjunto-vector-selva-piedra-marco-banner-juego-ui-dibujos-animados-menu-panel-loro_191217-726-removebg-preview_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{445,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{445,221}}</string>
				<key>sourceSize</key>
				<string>{445,221}</string>
			</dict>

			<key>letrero-madera-tropical-conjunto-vector-selva-piedra-marco-banner-juego-ui-dibujos-animados-menu-panel-loro_191217-726-removebg-preview_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,356},{215,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,211}}</string>
				<key>sourceSize</key>
				<string>{215,211}</string>
			</dict>

			<key>letrero-madera-tropical-conjunto-vector-selva-piedra-marco-banner-juego-ui-dibujos-animados-menu-panel-loro_191217-726-removebg-preview_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,222},{247,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,133}}</string>
				<key>sourceSize</key>
				<string>{247,133}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>